security:
    enable_authenticator_manager: true

    password_hasher:
        class: 'Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface'
        algorithm: auto

    providers:
        user_provider:
            entity:
                class: User\Entity\User
                property: email
    firewalls:
        login:
            pattern: ^/login
            stateless: true
            provider: user_provider
            json_login:
                check_path: /login
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        register:
          pattern: ^/register-user
          stateless: true
          security: false

#        api:
#            pattern:   ^/api
#            stateless: true
#            jwt: ~

        main:
            stateless: true
            jwt: ~

    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/register-user, roles: PUBLIC_ACCESS }
        - { path: ^/, roles: IS_AUTHENTICATED_FULLY }