version: 2.1

jobs:
  build:
    docker:
      - image: adrianjimenez/symfony_good_practices:v2
        environment:
          DATABASE_URL: "mysql://root@127.0.0.1:3306/universe?serverVersion=8.0"
          MYSQL_ALLOW_EMPTY_PASSWORD: true

      - image: mysql:8.0
        environment:
          MYSQL_DATABASE: universe_test
          MYSQL_ALLOW_EMPTY_PASSWORD: true

    steps:
      - checkout

      - restore_cache:
          keys:
            - composer_{{ checksum "composer.lock" }}

      - run:
          name: Clear cache
          command: rm -rf var/cache/*

      - run: composer install -n

      - save_cache:
          key: composer_{{ checksum "composer.lock" }}
          paths:
            - ./vendor

      # This should be in Dockerfile
      - run: apt-get install -y netcat

      - run:
          name: Activar APP_DEBUG
          command: |
            echo "APP_ENV=test" >> .env.test.local
            echo "APP_DEBUG=1" >> .env.test.local


      - run:
          name: Wait for Database Port
          command: while ! nc -z 127.0.0.1 3306 ; do sleep 1 ; done

      - run: php bin/console doctrine:migrations:migrate --env=test --no-interaction

      - run: php bin/console doctrine:fixtures:load --env=test --no-interaction

      - run:
          name: Run tests
          command: ./bin/phpunit -d memory_limit=-1

      - run:
          name: Mostrar logs de Symfony
          command: |
            if [ -f var/log/test.log ]; then
              echo "----- Symfony test.log -----"
              cat var/log/test.log
            else
              echo "No hay test.log"
            fi

      - store_test_results:
          path: ./test-results

      - store_artifacts:
          path: ./test-results