parameters:

services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      $temporalFolder: '%temporal_folder%'

  # Contexts
  Universe\:
    resource: '../src/Universe'
    exclude:
      - '../src/Universe/DependencyInjection/'
      - '../src/Universe/Entity/'
      - '../src/Universe/Kernel.php'

  Planet\:
    resource: '../src/Planet'
    exclude:
      - '../src/Planet/Domain/Entity/'

  # Buses
  _instanceof:
    Universe\Shared\Bus\Command\CommandHandler:
      tags:
        - { name: tactician.handler, typehints: true, bus: command }

    Universe\Shared\Bus\Query\QueryHandler:
      tags:
        - { name: tactician.handler, typehints: true, bus: query }

  # Services
  Planet\Infrastructure\Writer\DownloadWordPlanetListWriter:
    arguments:
      - '%listing.planet.list%'
      - '%temporal_folder%'