parameters:

services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      $temporalFolder: '%temporal_folder%'

  # Contexts
  Shared\:
    resource: '../src/Shared'

  Planet\:
    resource: '../src/Planet'
    exclude:
      - '../src/Planet/Domain/Entity/'

  User\:
    resource: '../src/User'
    exclude:
      - '../src/User/Domain/Entity/'

  # Buses
  _instanceof:
    Shared\Domain\Bus\Command\CommandHandler:
      tags:
        - { name: tactician.handler, typehints: true, bus: command }

    Shared\Domain\Bus\Query\QueryHandler:
      tags:
        - { name: tactician.handler, typehints: true, bus: query }

  # Services
  Planet\Infrastructure\Writer\DownloadWordPlanetListWriter:
    arguments:
      - '%listing.planet.list%'
      - '%temporal_folder%'